body{
    background-image: url(../imgs/demo_03/cielo.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

.sol{
    margin-left: -33px;
    margin-top: -33px;
    position: absolute;
    top:50%;
    left: 50%;
    animation: rotar 25s linear 0s infinite;
}

.sistema{
    width: 800px;
    height: 800px;
    margin: auto;
    position: relative;
}

@-webkit-keyframes rotar{
    0%{transform: rotate(0deg);}
    100%{ transform: rotate(360deg);}
}

.mercurio{
    margin-left: -50px;
    margin-top: -50px;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80px;
    height: 80px;
    border: 2px solid orange;
    border-radius: 50px;
    animation: rotar 4s linear 0s infinite;
}

.pla_Mer{
    margin-left: 5px;
    margin-top: 5px;
    width: 10px;
    height: 10px;
    border: 2px solid orange;
    background-color: orange;
    border-radius: 10px;
}

.venus{
    margin-left: -52px;
    margin-top: -52px;
    position: absolute;
    top: 47%;
    left: 47%;
    width: 125px;
    height: 125px;
    border: 2px solid yellow;
    border-radius: 62px;
    animation: rotar 5s linear 0s infinite;
}

.pla_Venus{
    margin-left: 8px;
    margin-top: 8px;
    width: 13px;
    height: 13px;
    border: 2 solid yellow;
    background-color: yellow;
    border-radius: 12px;
}

.tierra{
    margin-left: -54px;
    margin-top: -54px;
    position: absolute;
    top: 45%;
    left: 45%;
    width: 165px;
    height: 165px;
    border: 2px solid blue;
    border-radius: 85px;
    animation: rotar 6s linear 0s infinite;
}

.pla_Tierra{
    margin-left: 13px;
    margin-top: 13px;
    width: 15px;
    height: 15px;
    border: 2px solid blue;
    background-color: blue;
    border-radius: 15px;
}

.luna{
    position: absolute;
    width: 10px; 
    height: 10px; 
    background-color: gray;
    border-radius: 50%;
    animation: movluna 4s linear infinite;
}

@keyframes movluna {
    from { transform-origin: 100px 100px; transform: rotate(0deg) translateX(50px) rotate(0deg); }
    to { transform-origin: 100px 100px; transform: rotate(360deg) translateX(50px) rotate(-360deg); }
}

.marte{
    margin-left: -58px;
    margin-top: -58px;
    position: absolute;
    top: 42%;
    left: 42%;
    width: 225px;
    height: 225px;
    border: 2px solid red;
    border-radius: 115px;
    animation: rotar 7s linear 0s infinite;
}

.pla_Marte{
    margin-left: 20px;
    margin-top: 20px;
    width: 19px;
    height: 19px;
    border: 2px solid red;
    background-color: red;
    border-radius: 19px;
}

.jupiter{
    margin-left: -60px;
    margin-top: -60px;
    position: absolute;
    top: 38%;
    left: 38%;
    width: 295px;
    height: 295px;
    border: 2px solid #19FFBB;
    border-radius: 150px;
    animation: rotar 9s linear 0s infinite;
}

.pla_Jupiter{
    margin-left: 27px;
    margin-top: 27px;
    width: 25px;
    height: 25px;
    border: 2px solid #19FFBB;
    background-color: #19FFBB;
    border-radius: 25px;
}

.saturno{
    margin-left: -64px;
    margin-top: -64px;
    position: absolute;
    top: 35%;
    left: 35%;
    width: 355px;
    height: 355px;
    border: 2px solid #D2B48C;
    border-radius: 180px;
    animation: rotar 11s linear 0s infinite;
}

.pla_Saturno{
    margin-left: 34px;
    margin-top: 34px;
    width: 31px;
    height: 31px;
    border: 2px solid #D2B48C;
    background-color: #D2B48C;
    border-radius: 31px;
}

.urano{
    margin-left: -100px;
    margin-top: -95px;
    position: absolute;
    top: 35%;
    left: 35.5%;
    width: 420px;
    height: 420px;
    border: 2px solid #00FFFF;
    border-radius: 215px;
    animation: rotar 13s linear 0s infinite;
}

.pla_Urano{
    margin-left: 41.5px;
    margin-top: 41.5px;
    width: 37px;
    height: 37px;
    border: 2px solid #00FFFF;
    background-color: #00FFFF;
    border-radius: 39px;
}

.neptuno{
    margin-left: -66px;
    margin-top: -66px;
    position: absolute;
    top: 28%;
    left: 28%;
    width: 480px;
    height: 480px;
    border: 2px solid #00008B;
    border-radius: 230px;
    animation: rotar 15s linear 0s infinite;
}

.pla_Neptuno{
    margin-left: 42px;
    margin-top: 42px;
    width: 40px;
    height: 40px;
    border: 2px solid #00008B;
    background-color: #00008B;
    border-radius: 40px;
}